.header {
  font-family: 'IBM Plex Mono', monospace;
  text-align: left;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
footer {
  height:auto;
  background-color: #adabab;
  width : auto;
  text-align: center;
}
a {
text-decoration: none;
color: white;
}
